<%- include('header') -%>


<h1> Hello Arvind form this side </h1>
<p> this is lorem jsdifhs sdihfish shif skjfnkjshof sihr9hw lsahfkj skjdhf ajhkjah jahfkh sfjhskjfhhajh <p>

<%- include('footer') -%>
